* {
    border: none;
    border-radius: 0;
    font-family: "cozette";
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #e0e0e0;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

#tags button {
    padding: 0 5px;
    background: transparent;
    color: #e0e0e0;
}

#tags button.focused {
    background: #e0e0e0;
    color: #121212;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #e0e0e0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: #e0e0e0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

